@import url("https://fonts.googleapis.com/css?family=Krub");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main {
  height: 100vh;
  font-family: "Krub";
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto 35px;
  grid-template-areas:
    "sidebar messages-list"
    "sidebar new-message";
  overflow-y: auto;
}
#new-message {
  grid-area: new-message;
  bottom: 0;
  padding: 5px;
  margin-left: 0px;
}
#messages-list {
  grid-area: messages-list;
  padding: 5px 0 0 5px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
#sidebar {
  overflow: auto;
  grid-area: sidebar;
  padding: 5px 0 0 5px;
  background: white;
}

#main {
  background: rgb(238, 224, 202);
}

.bubble {
  display: flex;
}

.bubble-in {
  max-width: 80%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 0.5px 0.5px rgb(180, 177, 177);
  margin: 3px;
  font-size: 9px;
}

.me-in {
  border-radius: 3px;
  border-top-right-radius: 0px;
  background: rgb(193, 253, 193);
}

.me {
  margin-right: 5px;
  justify-content: flex-end;
}

.me:after {
  content: "";
  width: 0;
  height: 0;
  margin-top: 1px;
  margin-left: -4px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid rgb(193, 253, 193);
  transform: rotate(225deg);
}

.other-in {
  background: whitesmoke;
  border-radius: 3px;
  border-top-left-radius: 0px;
}
.other {
  justify-content: flex-start;
}
.other:before {
  content: "";
  width: 0;
  height: 0;
  margin-top: 3px;
  margin-right: -5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid whitesmoke;
  transform: rotate(225deg);
}
input {
  border-radius: 10px;
  width: 100%;
  border: none;
  outline: none;
  padding: 3px 10px 3px 10px;
  font-size: 9px;
}

#new-message {
  background: rgb(230, 230, 230);
}

.author-name {
  display: block;
  margin-bottom: 3px;
}
